
.item-list{
    margin: 24px 0;
}

.item-list a {
    color: #5398F5;
    font-size: 24px ;
    margin: 24px 0;
    text-decoration: none;
}
.item-list a:hover {
    color: #fff;
    font-size: 24px ;
    margin: 24px 0;

}

.item-list p {
    color: #999;
    font-family: 12px;
    margin: 24px 0;
}